body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 0.85rem;
  line-height: 0.85rem;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

h1 {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Le murmure', sans-serif;
  font-size: 7rem;
  line-height: 7rem;
  font-weight: 400;
  text-transform: uppercase;
}


.body {
  overflow: hidden;
  height: 100%;
}

.body {
  background-color: #333;
}

.app {
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text {
  margin-top: 0.2rem;
  line-height: 1rem;
  color: #f1e9db;
}

.link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 2.5rem 23px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #333;
  text-decoration: none;
}

.link.l-d2 {
  margin-top: 3.7rem;
  margin-bottom: 3.7rem;
}

.h1 {
  padding-top: 0.9rem;
  line-height: 6rem;
  color: #f1e9db;
}

.grid {
  position: relative;
  z-index: 3;
}

.grid.g3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.grid-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.frame {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 2rem 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.frame__demos {
  text-align: center;
}

.frame__demo {
  display: inline-block;
  margin-right: 7px;
  margin-left: 7px;
  color: #f1e9db;
  text-decoration: none;
}

.frame__demo:hover {
  text-decoration: underline;
}


.frame__demo--current {
  text-decoration: underline;
}

.frame__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.frame__credits {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.frame__title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.frame__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}



.frame__role {
  margin-bottom: 2px;
  font-style: italic;
  text-transform: capitalize;
  color: #f1e9db;
}


.credit-wrap {
  margin-top: 12px;
  margin-bottom: 12px;
}

.italic {
  text-transform: none;
  color: #f1e9db;
  font-style: italic;
}

.frame__title {
  text-align: center;
  color: #f1e9db;
}


.frame__init {
  margin-bottom: 5px;
  text-align: center;
}

.frame__link {
  color: #f1e9db;
}


.frame__link.fl_1 {
  margin-left: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.frame__link.fl_1:hover {
  text-decoration: underline;
}



.frame__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.image {
  width: 5rem;
}

@media (max-width: 991px) {
  .app {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    height: 100%;
  }

  .h1 {
    font-size: 6rem;
  }


  .divider {
    width: 90px;
  }


  .frame__demo {
    font-size: 0.75rem;
  }

  .frame__credits {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .frame__links {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .frame__role {
    font-size: 0.75rem;
  }

  .frame__title {
    font-size: 0.75rem;
  }

  .frame__init {
    font-size: 0.75rem;
  }

  .frame__link {
    font-size: 0.75rem;
  }


  .frame__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

@media (max-width: 767px) {
  .link {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
  }

  .h1 {
    font-size: 5rem;
    line-height: 5rem;
  }

  .grid.g3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .grid-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .divider {
    display: none;
  }

  .frame__role {
    font-size: 0.55rem;
    line-height: 0.55rem;
  }

  .italic {
    font-size: 0.55rem;
  }

  .frame__title {
    font-size: 0.55rem;
    line-height: 0.55rem;
  }

  .frame__link {
    font-size: 0.55rem;
  }

  .div-block {
    display: none;
  }
}

@media (max-width: 479px) {
  .text {
    font-size: 2vw;
    line-height: 2vw;
  }

  .link {
    margin: 10vw 0px;
  }


  .h1 {
    padding-top: 1vw;
    font-size: 14vw;
    line-height: 11vw;
  }

  .frame {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .frame__demo {
    font-size: 0.55rem;
    line-height: 0.55rem;
  }

  .frame__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .frame__credits {
    margin-bottom: 1vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .frame__title-wrap {
    margin-bottom: 2vw;
  }

  .frame__role {
    font-size: 2vw;
    line-height: 2vw;
  }

  .frame__title {
    font-size: 2vw;
    line-height: 2vw;
  }

  .frame__init {
    margin-bottom: 0.3vw;
  }

  .frame__link {
    font-size: 2vw;
    line-height: 2vw;
  }


  .frame__inner {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@font-face {
  font-family: 'Le murmure';
  src: url('../fonts/Le-Murmure.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}